#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

header {
    display: flex;
    border: 2px solid blue;
}

main {
    display: flex;
    border: 2px solid green;
}

footer {
    display: flex;
    border: 2px solid red;
}
